

  body {
    font-family: arial;
    background-color: #ffc0bb;
    color: #545454;
  }

  body {
    margin: 0 auto;
    width: 60%;
  }

  section {
    width: 700px;
    display: inline-block;
    vertical-align: top;
    margin-left: 15px;
  }

  select {
    margin: 10px 0;
    width: 180px;
  }

  aside {
    width: 180px;
    margin-right: 15px;;
    display: inline-block;
  }

  textarea {
    width: 350px;
  }

  label {
    display: block;
  }

  input[type="text"], select {
    display: block;
    width: 175px;
  }

  figure {
    margin:0;
    display: inline-block;
  }

  nav {
    display: inline-block;
    float: right;
  }

  nav ul li {
    display: inline-block;
  }

  nav ul li a {
    padding: 20px;
    display: block;
  }

  ul li a, section figure figcaption a, footer p a {
    text-decoration: none;
  }

  figure figcaption {
    text-align: center;
  }

  .ingredients-list {
    list-style: square;
  }

  ol {
    list-style: upper-roman inside;
  }

  h1 {
    font-size: 38px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 32px;
  }

  header > img {
    width: 100px;
  }

  select {
    margin: 10px 0px;
    width: 180px;
  }

  .ingredients-list li {
    margin: 15px 0px;
  }


  .resize {
    width: 500px;
    height: auto;
  }

  .user_review h4 {
    font-size: 18px;
    font-weight: bold;
  }

  input[type="radio"] {
    -webkit-appearance: none;
    width: 27px;
    height: 27px;
    background-image: url(stars.png);
    vertical-align: bottom;
  }

  input[type="radio"]:checked {
    background-position: 30px 30px;
  }


  input:last-child {
    background: gold;
  }

  input:last-child:hover {
    -webkit-filter: brightness(90%);
  }

  ol li:nth-of-type(2n) {
    background-color: beige;
  }

  h2 + .user_review {
    border-top: 1px solid black;
  }

  .hamburger-dropdown {
    display: none;
  }

  @media all and (max-width: 900px) {
    nav ul {
      display: none;
    }

    .hamburger-dropdown {
      display: block;
    }

    .hamburger-dropdown > li {
      background: url("./hamburger.png");
      background-repeat: no-repeat;
      background-size: 80px 80px;
      width: 80px;
      height: 80px;
      position: relative;
      cursor: pointer;
    }

    .hamburger-dropdown ul {
      position: absolute;
      top: 50px;
      left: 0;
      flex-direction: column;
      box-shadow: gray 5px 5px;
      cursor: pointer;
    }

    .hamburger-dropdown:hover ul {
      display: flex;
      background: ghostwhite;
    }

    .hamburger-dropdown ul li:hover a {
      text-decoration: underline;
      font-weight: bold;
    }

    .hamburger-dropdown li ul li a {
      border-bottom: black solid 1px;
    }
  }


  /*.group:after {
    content:"";
    clear:both;
    display:block;
  }*/
